@font-face {
  font-family: Avenir-bold;
  src: url(../../assets/fonts/Avenir-Medium.ttf) format('truetype');
  src: url(../../assets/fonts/Avenir-Medium.woff) format('woff');
  src: url(../assets/fonts/Avenir-Medium.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Avenir-bold-slant;
  src: url(../../assets/fonts/Avenir-MediumOblique.ttf) format('truetype');
  src: url(../assets/fonts/Avenir-MediumOblique.woff) format('woff');
  src: url(../assets/fonts/Avenir-MediumOblique.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/Avenir-Light.ttf) format('truetype');
  src: url(../assets/fonts/Avenir-Light.woff) format('woff');
  src: url(../assets/fonts/Avenir-Light.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Avenir-black;
  src: url(../assets/fonts/Avenir-Black.ttf) format('truetype');
  src: url(../assets/fonts/Avenir-Black.woff) format('woff');
  src: url(../assets/fonts/Avenir-Black.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Avenir-black-slant;
  src: url(../assets/fonts/Avenir-BlackOblique.ttf) format('truetype');
  src: url(../assets/fonts/Avenir-BlackOblique.woff) format('woff');
  src: url(../assets/fonts/Avenir-BlackOblique.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Avenir-light-slant;
  src: url(../assets/fonts/Avenir-LightOblique.ttf) format('truetype');
  src: url(../assets/fonts/Avenir-LightOblique.woff) format('woff');
  src: url(../assets/fonts/Avenir-LightOblique.woff2) format('woff2');
  font-display: swap;
}
