:root {
  /* colors */
  --gray: #f7fafc;
  --white: #fff;
  --blue: #29489b;
  --black: #000;
  --dark-grey: #3b415e;
  --orange: #fcab31;
  --pink: #ffdcdc;
  --yellow: #f9ac19;
  --light-yellow: #f6e8ce;
  --dark-yellow: #f9ac19;
  --light-green: #cee9e1;
  --dark-green: #36b37e;
  --light-purple: #ccd4e8;
  --dark-purple: #29489b;
  --light-blue: #c4e5f4;
  --dark-blue: #009bd5;
  --light-lemon: #c5f1c9;
  --dark-lemon: #08d500;
  --green: #36b37e;
  --red: #ff5151;
  --side-bar-white-color: var(--white);
  --side-nav-separator-color: var(--gray);
  --nav-items-border-color: #d4d7dc14;
  --warning-color: #ff5151;
  --page-background-color: #f5f7fb;
  --form-box-shadow: 0px 3px 6px #00000029;
  --form-border-radius: 10px;
  --form-label-color: #707070;
  --form-field-isinvalid-background-color: #ff51513d;
  --form-field-border: 1px solid #dddbd7;
  --button-border-radius: 5px;
  --form-field-focus-border-color: #08d500;
  --form-label-grey: #707070;
  --modal-bg-color: #575d77cc;

  /* dimensions */
  --sidenav-min-width: 215px;

  /* Typography */
  --font-bold: 'Avenir-bold';
  --font-default: 'Avenir';

  --nav-items-border: 1px solid var(--nav-items-border-color);

  /* For cards  backgrounds*/
  --completed-trips-card-bg: #ccd4e8;
  --total-orders-card-bg: #dce1f2;
  --pending-orders-card-bg: #cee9e1;
  --accepted-orders-card-bg: #c6f1c9;
  --active-trips-card-bg: #cee9e1;
  --flagged-trips-card-bg: #f7dcde;
  --reliability-index-card-bg: #d0d2d5;
  --routes-trip-card-bg: #cee9e1;

  /* For cards icon background*/
  --completed-trips-card-icon-bg: #29489b;
  --total-orders-card-icon-bg: #7986cb;
  --pending-orders-card-icon-bg: #36b37e;
  --accepted-orders-card-icon-bg: #08d500;
  --active-trips-card-icon-bg: #36b37e;
  --flagged-trips-card-icon-bg: #ff5151;
  --reliability-index-card-icon-bg: #3c3c3c;
  --routes-trip-card-icon-bg: #36b37e;

  /* Icons used in css */
  --truck-cargo: url('../../assets/icons/truck-cargo.svg');
  --truck: url('../../assets/icons/truck.svg');
  /* --truck-white: url('../../assets/icons/truck-white.svg');
  --truck-empty: url('../../assets/icons/truck_empty.svg'); 
  --trip-distance: url('../assets/icons/trip-distance.svg');
  --common-file-text-edit: url('../assets/icons/common-file-text-edit.svg');
  --touch-id-1: url('../assets/icons/touch-id-1.svg');*/
  --filter: url('../../assets/icons/filter.svg');
  --button-refresh-arrows: url('../../assets/icons/button-refresh-arrows.svg');
  --download-button: url('../../assets/icons/download-bottom.svg');
  /* --pin: url('../../assets/icons/pin.svg'); 
  --recipient: url('../../assets/icons/single-man.svg');*/
   /*--invoice: url('../../assets/icons/accounting-invoice.svg');
  --tripsWaybill: url('../assets/icons/trips-waybill.svg'); 
  --business-trips: url('../assets/icons/building-house.svg');*/
  --add: url('../../assets/icons/add.svg');
  /* --notes-paper-text: url('../assets/icons/notes-paper-text.svg'); 
  --truck-green: url('../../assets/icons/truck-green.svg');*/
  --search: url('../../assets/icons/search.svg');
  --support: url('../../assets/icons/support.svg');
  --taxi-driver: url('../../assets/icons/taxi-driver.svg');
  --transporter: url('../../assets/icons/transporter.svg');
  /* --business-deal-handshake-circle: url('../assets/icons/business-deal-handshake-circle.svg'); */
}
