/* Border-radius*/
.bd-rad-5 {
  border-radius: 5px;
}

.bd-rad-10 {
  border-radius: 10px;
}

.bd-rad-all {
  border-radius: 50%;
}

.bd-rad-16 {
  border-radius: 16px;
}

.border-width-2 {
  border-width: 2px !important;
}

.border-width-4 {
  border-width: 4px !important;
}

.border-color-white {
  border-color: white;
}

.border-color-black {
  border-color: black;
}
