/* Foreground Colors */
.clr-blue {
  color: var(--blue) !important;
}

.clr-black {
  color: var(--black) !important;
}

.clr-yellow {
  color: var(--yellow) !important;
}

.clr-yellow {
  color: var(--warning-color) !important;
}

.clr-red {
  color: var(--red) !important;
}
.clr-green {
  color: var(--green) !important;
}

.clr-white {
  color: var(--white) !important;
}

.clr-form-label-grey {
  color: var(--form-label-grey) !important;
}

/* Background Colors */
.bg-clr-pink {
  background-color: var(--pink) !important;
}

.bg-clr-red {
  background-color: var(--red) !important;
}

.bg-clr-green {
  background-color: var(--green) !important;
}

.bg-clr-white {
  background-color: var(--white) !important;
}

.bg-clr-yellow {
  background-color: var(--yellow) !important;
}

.bg-clr-tblue {
  background-color: #23a4d7 !important;
}

.clr-red {
  color: var(--red) !important;
}

.clr-green {
  color: var(--green) !important;
}

.clr-purple {
  color: var(--blue) !important;
}
/* Background Unset */
.bg-unset {
  background: unset !important;
}

/* To Fix!!!!!! */
button.clr-black {
  color: black;
}

bg-clr-yellow {
  background-color: #f9ac19 !important;
}
