@import './_variables.css';
@import './_reset.css';
/* @import './_types.css'; */
/* @import './atoms.css'; */
/* @import './_invoicetemplate.css'; */

/* 
  For SVG Icons
*/
svg {
  fill: currentColor;
}

.warningSVGIcon {
  color: var(--warning-color);
}

/* popup */
.businessCountry {
  position: relative;
}

.businessCountry .popup {
  height: 317px !important;
  overflow: auto !important;
  width: 220px !important;
  top: 65px !important;
  position: absolute;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out 0s 1;
  animation-direction: normal;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.businessCountry [data-popup-active='true'] {
  display: block;
}

.popupItemWrap:not([data-iscountryselected='true']):hover {
  background-color: #f6f9fc;
}

[data-iscountryselected='true'] {
  background-color: var(--blue);
  color: white;
}

[data-iscountryselected='true'] .countryDialingCode {
  color: white;
  opacity: 1;
}

.countryPopupItemWrap,
.popupItemWrap {
  cursor: pointer;
  padding: 8px 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
}
/* .popupItemWrap:first-of-type, */
.countryPopupItemWrap:first-child,
.popupItemWrap:first-child {
  margin-top: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.countryPopupItemWrap:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.popupIcon {
  width: 25px;
}
.countryPopupItemWrap > p,
.popupItemWrap > p {
  margin-left: 12px;
  font-size: 14px;
}
.optionSwitcher {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  user-select: none;
}

.optionIcon {
  width: 30px !important;
  margin-right: 13px;
}

.optionValue {
  font-size: 16px !important;
}

.optionIndicator {
  margin-left: auto;
}

.forInputTypeNumber {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.forInputTypeNumber::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  right: 7px;
  top: 33px;
  border-radius: 5px;
}

/* For Cards */

.cardIconBlock {
  --dimension: 43px;
  width: var(--dimension);
  height: var(--dimension);
  background-repeat: no-repeat;
  background-position: center;
  color: inherit;
}

.cardInfoBlock {
  margin-left: 16.78px;
}

.completedTrips {
  background-color: var(--completed-trips-card-bg);
}

.completedTrips .cardIconBlock {
  background-color: var(--completed-trips-card-icon-bg);
  background-image: var(--truck-cargo);
}

.totalOrder {
  background-color: var(--total-orders-card-bg);
}

.totalOrder .cardIconBlock {
  background-color: var(--total-orders-card-icon-bg);
  background-image: var(--common-file-text-edit);
}

.acceptedOrders,
.invoices,
.pickupLocations {
  background-color: var(--pending-orders-card-bg);
}
.invoiceTotal {
  background-color: var(--pending-orders-card-bg);
}

.acceptedOrders .cardIconBlock,
.invoices .cardIconBlock,
.pickupLocations .cardIconBlock {
  background-color: var(--pending-orders-card-icon-bg);
  background-image: var(--common-file-text-edit);
}

.invoiceTotal .cardIconBlock {
  background-color: var(--pending-orders-card-icon-bg);
  background-image: var(--common-file-text-edit);
}

.pendingOrders {
  background-color: #f6e8ce;
}

.pendingOrders .cardIconBlock {
  background-color: #f9ac19;
  background-image: var(--common-file-text-edit);
}

.acceptedOrder {
  background-color: var(--accepted-orders-card-bg);
}

.acceptedOrder .cardIconBlock {
  background-color: var(--accepted-orders-card-icon-bg);
  background-image: var(--common-file-text-edit);
}
.flaggedTrip {
  background-color: var(--flagged-trips-card-bg);
}

.flaggedTrip .cardIconBlock {
  background-color: var(--flagged-trips-card-icon-bg);
  background-image: var(--truck-cargo);
}

.reliabilityIndex {
  background-color: var(--reliability-index-card-bg);
}

.reliabilityIndex .cardIconBlock {
  background-color: var(--reliability-index-card-icon-bg);
  background-image: var(--touch-id-1);
}

.activeTrip,
.pickupLocation,
.recipients,
.tripPrice,
.businessUnits,
.departments,
.insurance,
.users {
  background-color: var(--active-trips-card-bg);
}

.activeTrip .cardIconBlock,
.pickupLocation .cardIconBlock,
.recipients .cardIconBlock,
.tripPrice .cardIconBlock,
.businessUnits .cardIconBlock,
.users .cardIconBlock,
.insurance .cardIconBlock,
.departments .cardIconBlock {
  background-color: var(--active-trips-card-icon-bg);
  background-image: var(--truck-cargo);
}

.businessUnits .cardIconBlock,
.departments .cardIconBlock {
  background-image: var(--business-trips);
}

.tripPrice .cardIconBlock {
  background-image: var(--invoice);
}

.pickupLocation .cardIconBlock {
  background-image: var(--pin);
}

.recipients .cardIconBlock,
.users .cardIconBlock {
  background-image: var(--recipient);
}

#ordersContent .pendingOrder {
  background-color: var(--active-trips-card-bg);
}

#ordersContent .pendingOrder .cardIconBlock {
  background-color: var(--active-trips-card-icon-bg);
  background-image: var(--common-file-text-edit);
}

.routes {
  background-color: var(--routes-trip-card-bg);
}

.routes .cardIconBlock {
  background-color: var(--routes-trip-card-icon-bg);
  background-image: var(--trip-distance);
}

.messages {
  background-color: var(--routes-trip-card-bg);
}

.messages .cardIconBlock {
  background-color: var(--routes-trip-card-icon-bg);
  background-image: var(--support);
}

.incomingTrucks,
#incomingTruckssContent .acceptedOrder {
  background-color: var(--completed-trips-card-bg);
}

.incomingTrucks .cardIconBlock,
#incomingTruckssContent .acceptedOrder > .cardIconBlock {
  background-color: var(--completed-trips-card-icon-bg);
  background-image: var(--truck-empty);
}

#incomingTruckssContent .acceptedOrder > .cardIconBlock {
  background-image: var(--truck-cargo);
}

#invoicesContent .pendingOrder {
  background-color: var(--active-trips-card-bg);
}

#invoicesContent .pendingOrder > .cardIconBlock {
  background-color: var(--active-trips-card-icon-bg);
}

.mainAppLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  opacity: 0.5 !important;
}

/* For components outline */
[data-show-comp-outline='true'] {
  outline: 1px solid red;
  position: relative;
}

[data-show-comp-outline='true']::before {
  font-family: var(--font-bold);
  content: attr(id);
  position: absolute;
  top: 0;
  background-color: black;
  color: red;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.fullPageOverlayBlock {
  position: fixed;
  background-color: #ffffff3d;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Modal */
.consentModalBlock {
  display: flex;
  background-color: transparent;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  visibility: hidden;
}

.consentInfo {
  font-size: 16px;
  line-height: 21px;
}

.consentModalContent {
  width: 100%;
  max-width: 400px;
  background: white;
  max-height: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  visibility: visible;
}

.consentHeader {
  padding: 20px;
  box-shadow: inset 0 -1px #e3e8ee;
}

.consentHeading {
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--font-bold);
}

.consentMessageBlock {
  padding: 20px;
  background: #f7fafc;
  flex: 1;
}

.statusItem {
  background: #f7fafc;
  flex: 1;
}

.consentMessageActions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 10px;
  box-shadow: inset 0 1px #e3e8ee;
}


.updateStatus {
  display: flex;
  justify-content: center;
  padding: 20px 10px 10px;
  box-shadow: inset 0 1px #e3e8ee;
}
.updateStatus button {
  display: flex;
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 60px;
  /* width: 131px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--red);
  margin-left: 20px;
}

.noHistory {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  padding: 3em;
}
.historyContent {
  background-color: #f4f2f0;
  color: #0d1e4f;
  margin: 1.5em;
  font-size: 1.5em;
  border-radius: 5px;
}
.historyItems {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.consentMessageActions button {
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
  border-radius: 5px;
  font-family: var(--font-bold);
}

.consentMessageActions button:last-child {
  display: flex;
  padding: 7px 10px;
  color: white;
  border: none;
  min-width: 60px;
  width: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--red);
  margin-left: 20px;
}
.consentMessageActions button.success{
  background-color: var(--green);
}

.uploadModalContent {
  width: 100%;
  max-width: 500px;
  background: white;
  /* max-height: 250px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  visibility: visible;
}

.uploadWaybillContent {
  width: 350px;
  max-width: 500px;
  background: white;
  /* max-height: 250px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  visibility: visible;
}

.uploadHeader {
  padding: 20px;
  box-shadow: inset 0 -1px #e3e8ee;
  display: flex;
  justify-content: space-between;
}

.uploadHeader > img {
  width: 20px;
  cursor: pointer;
}

.uploadHeading {
  font-size: 18px;
}

.uploadInfo {
  background: #e0e6f5 0% 0% no-repeat padding-box;
  border: 1px dashed #b4b4b4;
  border-radius: 6px;
  padding: 0.6em;
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
}

.arr {
  border-radius: 2px;
  border: 1px dashed #b4b4b4;
  margin: 0 6px;
}

.uploadFormContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 2em;
}

.uploadWaybillContainer {
  margin-top: 2em;
}

input,
select,
textarea {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Avenir';
  background-color: transparent;
  border-radius: inherit;
  padding: 8px 15px;
}

.selectContainer {
  position: relative;
  width: 100%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-arrow {
  color: rgb(51, 51, 51);
  right: 0px;
  top: 50%;
  width: 30px;
  position: absolute;
  display: block;
  z-index: 10;
  margin: 0px;
  pointer-events: none;
  transform: translateY(-50%);
}

.updateWaybillContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.formFieldWrap {
  margin: 16px 0;
  border: var(--form-field-border);
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  height: 40px;
  display: flex;
  transition: 0.2s;
}
.formFieldWrap:focus-within {
  border-color: var(--form-field-focus-border-color) !important;
}

label {
  font-size: 14px;
}

.uploadBtn {
  background-color: #36b37e !important;
  color: white;
}

/*  */
.spinner {
  position: relative;
  animation: rotate-all 1s linear infinite;
}

.right-side,
.left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 200px;
  border-style: solid;
  position: relative;
}

.right-side .bar {
  border-radius: 0 200px 200px 0;
  border-left: none;
  transform-origin: left center;
  animation: rotate-right 0.75s linear infinite alternate;
}

.left-side .bar {
  border-right: none;
  transform-origin: right center;
  animation: rotate-left 0.75s linear infinite alternate;
}

@keyframes rotate-left {
  to {
    transform: rotate(30deg);
  }
  from {
    transform: rotate(175deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(-175deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes rotate-all {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.placeholderOption {
  pointer-events: none;
}

input {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Avenir';
  background-color: transparent;
  border-radius: inherit;
  padding: 8px 15px;
}

input[type='file'] {
  display: none;
}

.img-overlay {
  z-index: 1;
  background-color: #6f6c6c;
  opacity: 0.85;
  cursor: pointer;
}

[data-is-input-data-loading='false'] {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  transition: 0.2s ease-out;
}

.pickupAddress.formFieldBlock,
.deliveryAddress.formFieldBlock {
  position: relative;
}

label[for='pickupState'],
label[for='deliveryState'] {
  display: flex;
  align-items: center;
}

.infoMessageOuterBlock {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1), 0 50px 100px rgba(50, 50, 93, 0.1);
  position: absolute;
  right: 0;
  top: -14px;
  max-width: 59%;
  border-radius: 7px;
  background-color: white;
  z-index: 1;
}

.infoMessageOuterBlock .arrow {
  width: 15px;
  height: 15px;
  margin-left: -7.5px;
  transform: rotate(45deg);
  margin-top: 15px;
  position: absolute;
  background: white;
  border-radius: 2px;
}

.infoMessageBlock {
  padding: 7px 16px;
}

.infoMessage {
  font-size: 14px;
  font-style: italic;
  font-family: var(--font-bold);
}

.fixed {
  position: fixed;
  width: 100%;
}

.modalBlock {
  width: 100vw;
  height: 100vh;
  background: var(--modal-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  animation: fadeIn 0.1s linear both;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: initial;
  }
}

.active .modalFormBlock {
  --width: 400px;
  width: var(--width);
  transform: translateX(var(--width));
  height: 100%;
  background-color: #e3e9f0;
  padding: 20px;
  overflow: auto;
  margin-left: auto;
  animation: modalSlideIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.rtl .modalFormBlock {
  margin-right: auto;
  margin-left: unset;
  transform: translateX(-400px);
}

@keyframes modalSlideIn {
  to {
    transform: translateX(0);
  }
}

.active .fullpageModalBlock {
  width: 100%;
  height: 100%;
  background-color: #e3e9f0;
  display: grid;
  overflow: auto;
}

/* this */

.pageHeader {
  display: flex;
}

.card {
  margin-right: 20px;
}

.dotted {
  border-top: 1px dotted gray;
}

.verify {
  background-color: #f6e8ce;
  padding: 1.5em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px var(--yellow);
}

.verifyBtn {
  cursor: pointer;
  color: var(--white);
  background-color: var(--yellow);
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

/* Ticker */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.tickerWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  /* background-color: #F6E8CE; */
  background-color: #f6f7fb;
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 1;
}
.tickerWrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  /* padding-right: 100%; */
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 300s;
  animation-duration: 300s;
}
.tickerWrap .ticker__item {
  display: inline-block;
  padding: 0 1.3rem;
  font-size: 1rem;
  color: var(--blue);
  font-weight: bold;
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 50%;
  padding: 15em 24em;
  margin: 0 auto;
}

.auth-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 50%;
  padding: 5em 24em;
  margin: 0 auto;
}

h3.confirmText {
  font-size: 1.8em;
  color: var(--blue);
  margin: -5% 41%;
  width: 100%;
}

/* confirmation page */
.resend {
  border: 1px solid white;
  padding: 0.5em 1em;
  cursor: pointer;
  height: 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.confirmBody {
  background-color: #f5f5fc;
  padding: 5em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20em 45em;
  border-radius: 5px;
}

.success-icon-bg {
  width: 100%;
  height: 80px;
  background-image: url(../../assets/images/kobo-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}
.confirmBody > h3 {
  margin-bottom: 1em;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.75);
}

.confirmBody > p {
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 2em;
}

.continueBtn {
  cursor: pointer;
  background-color: #36be7e;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0.7em 4em;
  font-weight: bold;
  font-size: 1.5em;
}

.waybillCount {
  width: 34px;
  height: 34px;
  border-radius: 16px;
  padding: 0.5em;
  color: var(--white);
}

.display-inline {
  display: inline-block !important;
}

.relative_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.material-icons {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.close-button i {
  color: #fff;
  font-size: 2.4rem;
  opacity: 0.5;
  transition: all 0.5s;
}
.close-button {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

.center_item {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

option[class*='default'] {
  pointer-events: none;
}

.sideNavLoadingBlock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: var(--blue);
}

.filterBody {
  box-shadow: 0px 2px 6px #d8d8d8;
  background-color: var(--white);
  cursor: pointer;
  margin-top: -4px;
  border: 1px solid #d8d8d8;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
  border-radius: 3px;
  position: absolute;
}
.filterItem {
  margin: 4px 0px;
  padding: 0.4em 1.8em;
  color: #3c3c3b;
}

.filterItem:nth-child(even) {
  background-color: #f4f4f4;
  margin: 0;
}
.currentPage {
  background-color: var(--white);
  border: 1px solid #00000029;
  padding: 0.2em;
}

.closeDropoff {
  padding: 5px;
  background: gray;
  color: white;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  text-align: center;
  margin-top: -1em;
}

.statusHalo {
  --dimension: 15px;
  width: var(--dimension);
  height: var(--dimension);
  background-color: #36b37e;
  border-radius: 50%;
}

.formInfo {
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.2;
  color: #6a6969;
}

/* FOr table tabs */
.tabsContainer {
  display: flex;
}

.tabsContainer .tab {
  min-width: 225px;
  text-transform: capitalize;
  font-family: var(--font-bold);
  color: black;
  font-size: 16px;
  padding: 16px;
  background-color: #e2ecff;
  --radius: 20px;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  display: flex;
  transition: 300ms;
  justify-content: center;
}

.tabsContainer .tab:hover,
.tabsContainer .tab.active {
  color: white;
  background-color: #29489b;
}

/* .DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  width: auto !important;
  display: block;

} */

.DateInput_input {
  width: 130px !important;
}
.DateInput_input__focused {
  outline: 0;
  background: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid var(--green);
  border-left: 0;
}

.SingleDatePickerInput__withBorder {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  width: 100%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.languageSwitcherBlock {
  position: relative;
}

.popupTriggerBtn_ {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.popupTriggerBtn_ > svg {
  color: white;
}

.popupBlock_ {
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 8px #00000022;
  /* width: max-content; */
  left: 1em;
  border-radius: 5px;
  /* transform: translateX(-30px); */
  width: 100px;
  text-align: center;
  top: -19em;
}

.popupBlock_ li {
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 14px;
}

.popupBlock_ li > div::first-letter {
  text-transform: capitalize;
}
.popupBlock_ li > div {
  padding: 10px 0;
}
.popupBlock_ li > button {
  text-align: center;
}
.popupBlock_ li > *:hover {
  background-color: #f4f2f0;
}

.remainder {
  border-radius: 50%;
  background: #29489b;
  height: 30px;
  width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -17em;
}

.enable {
  background-color: #36b37e;
  color: #ffffff;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
}

.horizontalForms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #36b37e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #36b37e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.uploadTruckDoc {
  border: 1px dashed #bbb9b9;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.uploadTruckIcon {
  padding: 10px;
  border: 1px solid #36b37e;
  border-radius: 10px;
  margin-bottom: 5px;
}

.container_ {
  position: relative;
  width: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.75);
}

.container_:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.actionIcons {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container_ > p {
  font-size: 1em;
  position: absolute;
  top: 9em;
  color: black !important;
}

.container_ > img {
  height: 100px;
  width: auto;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.mr--5 {
  margin-right: 0.5rem;
}
.justify-center {
  justify-content: center;
}
.justify-space-around{
  justify-content: space-around;
}
.payType {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em 2em;
}

.payType > div {
  display: flex;
  align-items: center;
}

.Toastify__toast-body{
  font-size: 1rem !important;
}
.p-1-7{
  padding: 1rem .7rem;
}
.black,.black:hover{
  color: black;
}

.kb-padding-2{
  padding: 2rem;
}
.kb-br-1-5{
  border-radius: 1.5rem;
}
.kb-mb-2{
  margin-bottom: 2rem;
}
.-blue{
  color: white;
  background-color: #29489b;
}
.fs-1-5{
  font-size: 1rem;
}

.invoiceTitle {
  padding-top: 20px;    
  color: #595959;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
  }

  #partialInvoicePayments {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    background-color: #f7fafc;
    border: 1px solid #d4e5f9;
    padding: 14px 16px;
  }

  #partialInvoicePayments td,
  #partialInvoicePayments th {
    padding: 14px 16px;
    font-size: 16px;
    text-transform: uppercase;
    border-spacing: 2px;
    box-shadow: #d4e5f9 0px -1px inset;
  }

  #partialInvoicePayments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #eff5fc;
    box-shadow: #d4e5f9 0px -1px inset;
  }

  .partialPaymentSumAndInvoiceBalanceAmount {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    font-size: 16px;
    font-weight: 500;
  }

  .partialPaymentSumContainer {
    width: 50%;
    float: left;
    margin: -10px;
    color: #29489b;
    font-weight: 600;
  }

   .invoiceBalanceAmountContainer {
    width: 50%;
    float: right;
    margin: -10px;
    color: #29489b;
    font-weight: 600;
  }

  .inputControlButon {
    position: relative;
    float: right;
    bottom: 48px;
    left: 55px;
    color: #36B37E;
    font-size: 18px;
  }

  .inputControlBusinessButon {
    position: relative;
    float: right;
    left: 55px;
    color: #36B37E;
    font-size: 18px;
  }
  .addCustomDepartment {
        display: inline-block;
        border-radius: 10px;
        border: 1px thin #bfbfbf;
        color:#29489b;
        text-align: center;
        font-size: 12px;
        padding: 8px;
        width: 150px;
        margin-bottom:10px;
        
  }

  .addCustomDepartment:hover {
    background-color:#36b37e;
    color: #fff;
  }

 
