/* -> Padding Vertical - Left and Right */
.pd-vt-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-vertical-21 {
  padding-left: 21px;
  padding-right: 21px;
}

.padding-vertical--200 {
  padding-left: 200px;
  padding-right: 200px;
}

.pd-vt-58 {
  padding-left: 58px !important;
  padding-right: 58px !important;
}

.pd-vt-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.pd-vt-250,
[data-padding-250='true'] {
  padding-left: 250px;
  padding-right: 250px;
}

.pd-vt-500,
.padding-vertical--500,
[data-padding-500='true'] {
  padding-left: 500px;
  padding-right: 500px;
}

/* -> Padding Horizontal - Top and Bottom */

.pd-hz-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pd-hz-15,
.padding-horizontal--15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pd-hz-20,
.padding-horizontal--20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pd-hz-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.pd-hz-38 {
  padding-top: 38px;
  padding-bottom: 38px;
}

.padding-hz-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -> Padding top */
.padding-top--40 {
  padding-top: 40px;
}

.padding-top--50 {
  padding-top: 50px;
}

/* -> Padding bottom */
.padding-bottom--100 {
  padding-bottom: 100px;
}

/* -> Padding All Sides */
.pd-all-15 {
  padding: 15px;
}

/* -> Padding Unset */
.pd-unset,
.padding-unset {
  padding: unset !important;
}

/* -> Padding right */
.padding-right-5 {
  padding-right: 5px;
}

.padding-right--10 {
  padding-right: 10px !important;
}
