@import '../../../styles/App';

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tableContainer {
  //border: 1px solid color(faintBlue);
  border-radius: 1px;
  position: relative;
  margin: 2rem 0;
  overflow-x: auto;

  &__helmet {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
  }

  &__helmet-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    //border-bottom: 1px solid color(faintBlue);
    animation: fadeIn 0.4s ease-in both;
    transition: 0.3s all;

    :hover {
      color: color(gray);
    }

    a {
      background-color: #e2ecff;
      color: #282a3c;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }

    .activeTab {
      background-color: color(blue);
      color: #fff;
      transition: 0.3s all;
    }
  }

  .empty {
    min-height: 200px;
  }

  &__footer {
    padding: 1rem;
    font-size: rem-calc(14);
    background-color: color(white);
    border-top: 1px solid color(faintBlue);
    //border-bottom: 1px solid color(faintBlue);

    .pagination-control {
      background-color: color(faintBlue);
      padding: 0.3rem;
      color: color(blue);
    }
  }
}

.tableTitle {
  flex: 1;
  font-weight: 400;
  text-transform: capitalize;
  color: #29489b;
  font-size: rem-calc(20);
}

.tableTitle__toggle {
  cursor: pointer;
  color: #ccc;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: 400;
  padding: 5px 50px;
  text-transform: capitalize;
  font-size: rem-calc(16);
  transition: all 0.4s ease-in-out;
}

.tableSearch {
  height: 36px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(41, 39, 36, 0.06);
  display: flex;
  align-items: center;
  padding-left: 17px;

  img {
    opacity: 0.2;
  }
}

#searchForm {
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 16px;
  padding: 8px 15px 8px 5px;
  background-color: transparent;
  border-radius: inherit;
  border: none;
  text-indent: unset;
  outline: none;

  &::placeholder {
    color: rgba(41, 39, 36, 0.3);
  }
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: white;
  overflow: auto;

  .tableTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: rem-calc(12);
  }

  .tableBody {
    .tableRow {
      background-color: white;

      &:hover {
        background-color: #eff5fc;
      }
    }
  }

  .tableHeading {
    .tableHeader {
      padding: 16px 8px;
      text-align: left;
      background-color: #eff5fc;
      box-shadow: #bdcfe4 0px -1px inset;
    }
  }

  .tableBody {
    .tableRow {
      cursor: pointer;
    }

    .tableData {
      box-shadow: rgb(227, 232, 238) 0px -1px inset;
    }

    .tableItems {
      padding: 16px 8px;
      font-size: rem-calc(12);
      overflow-wrap: break-word;
    }
  }
}

.action-bg {
  cursor: pointer;
  background-color: #eff5fc;
  box-shadow: #bdcfe4 0px -1px inset;
}

.table__status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.statusSuccess {
  background-color: color(green);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.statusFail {
  background-color: color(red);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.statusPending {
  background-color: color(yellow);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.activeTab {
  background-color: color(blue);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.tableFilter {
  position: fixed;
  z-index: 300;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;

  .filterHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid color(subtleGray);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    .close {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      color: color(black);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .filterContainer {
    //display: inline-block;
    margin: 0.5rem;
    animation: slideRight 0.5s ease-in-out;
    width: 294px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
    padding: 1rem;
    border-radius: 0.3rem;
    background: white;
  }

  // @include breakpoint(desktop-up) {
  //   select {
  //     padding: 0.5em 1rem;
  //   }
  // }

  .DateRangePickerInput__withBorder {
    border: 1px solid color(faintBlue);
    display: flex;
    align-items: center;

    .DateInput {
      width: auto;
    }

    .DateInput_input {
      padding: 0.2rem;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: normal;
      border-bottom: none;
      color: color(lightBlue);
      text-align: center;
    }

    .DateInput_input:hover,
    .DateInput_input:focus {
      border: none;
    }

    .DateRangePickerInput_arrow_svg {
      fill: color(lightBlue);
    }
  }

  .CalendarDay__selected_span {
    background: #c6d2ff;
    border: 1px double #a0adff;
    color: #fff;
  }

  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: #29489b;
    border: 1px double #29489b;
    color: #fff;
  }

  .CalendarDay__hovered_span,
  .CalendarDay__hovered_span:hover {
    background: #7989e6;
    border: 1px double #7989e6;
    color: #29489b;
  }

  .CalendarDay__selected_span:active,
  .CalendarDay__selected_span:hover {
    background-color: #5368c0;
    border-color: #5368c0;
  }

  .DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-right-color: #29489b;
  }
}
