/* Width */
.wdth-600 {
  width: 600px;
}

.mn-wdth-600 {
  min-width: 600px;
}

.full-width {
  width: 100% !important;
}

/* Heights */
.height-20 {
  height: 20px !important;
}

.height-50 {
  height: 50px !important;
}

.height-90 {
  height: 90px !important;
}

.width-20 {
  width: 20px !important;
}

.width-50 {
  width: 50px !important;
}
